@import "~/.cache/wal/colors-rofi-dark"
// * {
// 	normal-background: #00000000;
// 	alternate-normal-background: #00000000;
// 	background: #00000044;
// 	foreground: #ffffff;
// 	border-color: #000000;
// 	selected-normal-background: #ffffff44;
// 	selected-normal-foreground: #00ffd2;
// }
//
// window {
// 	border: 0;
// 	padding: 10;
// }
//
// element {
// 	border-radius: 5;
// 	padding: 5;
// }
