export EDITOR='nvim'
set -o vi

[ -f ~/.fzf.bash ] && source ~/.fzf.bash

eval "$(fzf --bash)"

export PS1="\[\e[38;2;0;255;210m\]\u@\h\[\e[m\]:\[\e[38;2;255;68;153m\]\w\[\e[m\]\$ "
alias vlimes='sbcl --load ~/.local/share/nvim/lazy/vlime/lisp/start-vlime.lisp'
alias wkm=wikiman

{{ if (eq .chezmoi.arch "amd64") }}
export PATH="$PATH:/opt/freerdp-nightly/bin:/home/ryoga/.bin:~/bin"
export PATH=/home/ryoga/.local/bin:/home/ryoga/venv/bin:$PATH

# alias cb='xsel -b'
cb() {
	if [ -t 0 ]; then
		wl-paste
	else
		wl-copy -n
	fi
}
{{ end }}

{{ if (eq .chezmoi.arch "arm64") }}
export PATH="$PATH:~/.bin"
cb() {
	if [ -t 0 ]; then
		termux-clipboard-get
	else
		termux-clipboard-set
	fi

}
{{ end }}
